.App{

  background-image: url("./background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  background-color: grey;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  
}
